body {
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    inline-size: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

:root {
    --max-width: 1280px;
}

.container {
    margin: 0 auto;
    max-inline-size: var(--max-width);
    inline-size: 100%;
    padding-inline: 1rem;
}

@media screen and (max-width: 568px) {
    :root {
        --breakpoint: 568px;
        --max-width: 568px;
    }
}

